@import './styles/base.css';
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/home.css';
@import './styles/services.css';
@import './styles/buttons.css';
@import './styles/variables.css';
